<form method="POST" action="/auth/change">
    <h1 class="h3 font-weight-normal">Change password</h1>
      <input name="old_password" class="form-control" placeholder="Old password" type="password"  required="true">
      <input name="new_password1" class="form-control" placeholder="New password" type="password"  required="true">
      <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" required="true">
  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>  
  </form>