
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">


</head>
<body>
  <form action="/auth/change?_method=PUT" method="POST">
    <label> Old Password</label>
    <input type="password" name="password" />

    <label> New Password</label>
    <input type="password" name="newPassword" />

    <label> Confirm Password </label>
    <input type="password" name="confirmPassword" />

    <input type="submit" value="change Password"/>
  </form>
</body>
</html>