<div>
    <div>
      <form method="POST" action="/auth/register">
        <div>
          <label>First Name</label>
          <input name="firstname" type="text" />
        </div>
        <div>
          <label>Last Name</label>
          <input name="lastname" type="text" />
        </div>
        <div>
          <label>Email</label>
          <input name="email" />
        </div>
        <div>
            <label>Address</label>
            <input name="address" />
          </div>
        <div>
          <label>Password</label>
          <input name="password" type="password" />
        </div>
        <div>
          <button type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
  