<div><div>
    <form method="POST" action="/auth/card">
      </div>

<div id ="">
    <div>
      
      <h1> shopping cart </h1>
    </div>
    <section id= "">
      <div class ="">
      <titel >ORDER SUMMARY</titel>
   <ul class="">
     <li >
       <span class="">Subtotal</span>
       <span class=" value">SAR 205.95</span>
     </li>
     <li >
       <span class=" label">Shipping Fee </span>
       <span class="value">SAR 10.00</span>
     </li>
        </ul>
        <hr>
        <ul class"">
          <li >
            <span>Total <span>(Inclusive of VAT)</span> </span> 
            <strong >SAR 215.95</strong>
            
          </li>
          <li>
            <span>Estimated VAT</span>
            <span class""> SAR 10.29 </span>
                  </li>
                      </ul>
      </div>
      
      <div class"">
        <header>
          <h4 >Ship To</h4>
    
        </header>
        </div>

      
        </section>
    
     <section id ="">
       <div>
         <p >Payment method</p>
         <button type="submit">Pay with card</button>
          <button type="submit">Pay with cash</button>
               </div>
       
       
       <form>
            <div >
             <label for="ccnum">CARD NUMBER</label>
              <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <div class="col-50">
                  <div> <input type="number" name="cardExpiryMonth" placeholder="MM" pattern="\d*" value="">
                    
          </div>
             <div> 
               <input type="text" placeholder="/" disabled="">
               
             </div>
             <div>
               <input type="number" name="cardExpiryYear" placeholder="YY" pattern="\d*"value="">
               
             </div>
             
          </div>
                </div>
                <div class="col-50">
                  <label for="cvv">CVV</label>
                  <input type="text" id="cvv" name="cvv" placeholder="352">
                </div>
         <button type="submit">PLACE ORDER</button>
          </div>
              </form>
    
  <form class= "">
    
    <div>
      <p>massgae</p>
    </div>
     <button type="submit">PLACE ORDER</button>
    </form>
    </section>
  </div>
  
  
  
  