<form method="POST" action="/home">
    <div>
        <label for="chat-username">Name</label>
        <input type="text"  name="name">
    </div>

        <div>
            <label for="">Message: </label>
            <input type="text"  id="">
          </div>
          
    <div>
          <button type="submit" class="btn btn-primary">Send</button>
     </div>
        </form>
    



