body {
     background: url("../img/backg.jpeg"); 
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.user {
    background: #FFFFFFD6;
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    max-width: 540px;
    margin: 20px 0;
    /* text-align: center; */
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
}

.login {
    text-align: center;
}

.wrapper {
    width: 735px;
    margin: 20px auto;
    padding: 20px;
}

.mangaStock {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
}

.clear {
    clear: both;
}

.items {
    display: flex;
    flex-flow: wrap;
    margin: 20px 0;
}

.item {
    background-color: #fff;
    flex-direction: left;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-radius: 15px;
}

.item img {
    display: block;
    margin: auto;
}

.cardName {
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

button {
    border: 1px solid #722A1B;
    padding: 4px 14px;
    background-color: #fff;
    color: #722A1B;
    text-transform: uppercase;
    float: left;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
}

span {
    float: right;
    
}

.shopping-cart {
    display: inline-block;
    background: url('https://img.icons8.com/ios/72/shopping-cart.png') no-repeat 0 0;
    background-size: 24px 24px;
    background-position: 0px;
    font-weight: 700;
    width: 35px;
    height: 50px;
    margin: 0 10px 0 0;
    text-align: center;
}

.nav-right {
    float: right;
}

.nav-left {
    float: left;
}
.form-box {
  width: 30%;
  background: #fff;
  border: 2px solid #cec4c4;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}
.form-box h3 {
  padding: 20px 0;
}
.form-box button:first-of-type {
  border-color: #cec4c4;
  border-width: 2px;
  border-radius: 20px;
  background-color: #fff;
}
.form-box button:last-of-type {
  background-color: #fff;
  margin: 12px;
  border-radius: 0;
  color: #fbfbfb;
  background: #b1adad;
}
