

body{
    background:url("../img/backg.jpeg") ; 
    background-size: cover;
    margin: 0px;
    padding: 0px;
    
    } 

     .user {
        background:#FFFFFFD6;
        width: 90%;
        padding: 10px;
        border-radius: 6px;
        max-width: 540px;
        margin: 10vh auto;
    } 


    .btn {
        display: block;
        width: 100%;
        padding: 20px;
        -webkit-appearance: none;
        outline: 0;
        border: 0;
    }

    .login{
        text-align: center;
    }

    